<div class="container">
      <h2>Cập Nhật Khóa Học</h2>
      <form action="/course/{{course._id}}?_method=PUT" method="POST">
            <div class="mb-3">
                  <label for="name" class="form-label">Tên Khóa Học</label>
                  <input type="text" value="{{course.name}}" class="form-control" id="name" name="name">
            </div>
            <div class="mb-3">
                  <label for="description" class="form-label">Mô Tả</label>
                  <textarea class="form-control" value="{{course.description}}" id="description"
                        name="description">{{course.description}}</textarea>
            </div>
            <div class="mb-3">
                  <label for="image" class="form-label">Ảnh</label>
                  <input type="text" value="{{course.image}}" class="form-control" id="image" name="image">
            </div>
            <div class="mb-3">
                  <label for="video" class="form-label">Video</label>
                  <input type="text" value="{{course.video}}" class="form-control" id="video" name="video">
            </div>
            <button type="submit" class="btn btn-warning">Cập Nhật</button>
</div>